@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.deleteDots {
  list-style-type: none;
}

.menuData-Container {
  display: flex;
  width: 311px;
  height: 4rem;
  justify-content: space-between;
  align-items: center;

  .menuData-button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuData-textContainer {
    .menuData-title {
      display: flex;
      font-family: PT serif;
      font-weight: 700;
      line-height: 27.6px;
      font-size: 19px;
      align-items: center;
      justify-content: space-between;

      width: 16.4375rem;
      .menuData-titleName {
        flex-shrink: 0;
      }
      * {
        text-wrap: nowrap;
      }

      .dots {
        overflow: hidden;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.4);
        margin-top: 0.5rem;
      }

      .menuItem-price {
        font-family: PT serif;
        font-weight: 700;
        line-height: 27.6px;
        font-size: 19px;
        text-wrap: nowrap;
        flex-shrink: 0;
        padding-left: 0.75rem;
      }
    }
    .menuData-pTags {
      font-family: Work Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

// .menuData {
//   margin-right: 1rem;
// }
