.landingPage-container {
  width: 375px;
  height: 667px;
  background-color: rgba(56, 132, 109, 1);
  margin: 0 auto;
  margin-top: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  .landingPage-leftIMG {
    position: absolute;
    left: 0px;
  }

  .landingPage-rightIMG {
    position: absolute;
    right: 0px;
  }
}
